<!DOCTYPE html>
<style>
    .product{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .product-buttons{
        display: flex;
        justify-content: space-evenly;
    }
</style>
{% extends 'navbar.html'%}
{% block block_body %}


        
        <div class="row">
            <div class="card shadow p-3 mb-1 bg-body rounded col-md-6 mt-5 mx-auto">
                <h2>Customer Details & Product Details</h2><hr>
                <div>
                    {% if cart_items %}
                    <p><strong>Customer email:</strong> {{ cart_items.0.user_id }}</p>
                    <!-- <p><strong>Customer email:</strong> {{ cart_items.0.username }}</p> -->
                    <!-- Other customer details can be added here -->
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="col-xl-12">
                    <h5>Product Details</h5>
                    <hr>
                    <div class="product">
                    {% for item in cart_items %}
                    <div class="col-xl-5.5 mt-5 ">
                        <div class="card shadow p-3 mb-1 bg-body rounded">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{{ item.pid.p_img.url }}" alt="" width="250">
                                    </div>
                                    <div class="col-xl-6">
                                        <p><strong>Product Name:</strong> {{ item.pid.name }}</p>
                                        <p><strong>Price :</strong> {{ item.pid.price }}</p>
                                        <p><strong>Product Details:</strong> {{ item.pid.product_details }}</p>
                                        <p>
                                            <a href="/updateqty/0/{{item.id}}" class="anchor"><button class=" btn btn-primary" >-</button></a>
                                            <input type="text" value="{{item.qty}}" style="width: 70px; text-align: center;">
                                            <a href="/updateqty/1/{{item.id}}" class="anchor"> <button class="btn btn-primary">+</button></a>
                                        </p>
                    
                
                                    <div class="product-buttons">
                                        <div><a href="/remove/{{item.id}}" type="button" class="btn btn-danger">Remove</a></div>
                                        <div><a href="" type="button" class="btn btn-success">Buy</a></div>
                                        <div><a href="{% url 'allproducts'%}"> <button type="button" class="btn btn-info">Shop More</button></a></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div><br><br>
            
    {% endblock %}
</body>
</html>
